<div class="container">
    <section id="drinks">
        <div class="two alt-two">
            <h1>{{pageName}}
                <span>Thực phẩm chức năng J&K</span>
            </h1>
        </div>
        <div id="list-drinks" class="row mt-5">
            {{#each data}}
                <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2">
                            <div class="seafood-img-box">
                                <img src="{{image}}" alt="">
                            </div>

                            <div class="seafood-content-box">
                                <a href="" class="seafood-title title-menu">{{pname}}</a>
                                <div class="seafood-price">
                                    {{#toPrice price}}
                                    {{/toPrice}}
                                </div>
                                
                                <div class="seafood-contact">
                                    {{stock}}
                                </div>

                                <div onclick="addDrinkToCart('{{drinkID}}','{{name}}','{{price}}','1','{{image}}','{{slug}}')" class="seafood-buy smooth">
                                    <a type="button" >Mua hàng</a>
                                </div>
                            </div>
                        </div>
            {{/each}}
        </div>
    </section>

</div>

<script>
    const listDrinks = document.getElementById('list-drinks');
    //renderDrinks()
    function renderDrinks() {
        $.ajax({
            url: "/food/drinks",
            type: 'GET',
            dataType: 'json',
            success: function (data, textStatus, xhr) {
                if (data.listDrinks) {
                    const list = data.listDrinks;
                    listDrinks.innerHTML = ``;
                    list.forEach(item => {
                        let priceHtml = `Giá: ${item.price.toLocaleString('vi', { style: 'currency', currency: 'VND' })}`;
                        if (item.price == 0)
                            priceHtml = `Giá: Đang cập nhật`;
                        listDrinks.innerHTML += `
                        <div class="col-md-3 col-sm-4 col-xs-6 seafood-box-2">
                            <div class="seafood-img-box">
                                <img src="${item.image}" alt="">
                            </div>

                            <div class="seafood-content-box">
                                <a href="" class="seafood-title title-menu">${item.name}</a>
                                <div class="seafood-price">
                                   ${priceHtml}
                                </div>
                                <div class="seafood-contact">
                                    Liên hệ:
                                    0931 744 468
                                </div>

                                <div onclick="addDrinkToCart('${item.id}','${item.name}','${item.price}','1','${item.image}','${item.slug}')" class="seafood-buy smooth">
                                    <a type="button" >Mua hàng</a>
                                </div>
                            </div>
                        </div>`;
                    });
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Error in Operation');
            }
        });
    }

    let shoppingCart
    if (localStorage.getItem('shopping-cart')) {
        shoppingCart = JSON.parse(localStorage.getItem('shopping-cart'))
    } else {
        shoppingCart = JSON.parse(localStorage.setItem('shopping-cart', '[]'))
    }

    function addDrinkToCart(id, name, price, quantity, img, slug) {
        let checkID = shoppingCart.some(item => {
            item = JSON.parse(item);
            return item.id === id;
        })
        if (checkID) {
            changeNumberOfDrink('plus', id);
            alertAddToAdminCart(name);
        } else {
            const drink = {
                id: id,
                name: name,
                price: price,
                stringPrice: Number(price).toLocaleString('vi', { style: "currency", currency: "VND" }),
                img: img,
                size: '',
                inventory: 1000,
                slug: slug
            }
            shoppingCart.push(JSON.stringify({
                ...drink,
                numberOfUnit: Number(quantity)
            }));
            alertAddToCart(name);
        }
        updateShoppingCart()
    }

    function changeNumberOfDrink(action, id) {
        shoppingCart = shoppingCart.map(item => {
            item = JSON.parse(item)
            let numberOfUnit = Number(item.numberOfUnit)
            if (item.id === id) {
                if (action == 'minus' && numberOfUnit > 1) {
                    numberOfUnit--
                } else if (action == 'plus') {
                    numberOfUnit++
                }
            }
            return JSON.stringify({
                ...item,
                numberOfUnit: numberOfUnit
            })
        })
        updateShoppingCart()
    }

    function updateShoppingCart() {
        localStorage.setItem('shopping-cart', JSON.stringify(shoppingCart))
    }

    function alertAddToCart(name) {
        document.getElementById('alertAddToCart').innerHTML =
            `<div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                    Đã thêm <strong>${name}</strong> vào giỏ hàng
                </div>`
        setTimeout(function () { document.getElementById('alertAddToCart').innerHTML = ''; }, 2000);
    }

</script>